/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

section {
    
    width: 70%;
    border: 1px solid blue;
    margin: 15px auto;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.24);
}

h1 {
    
    text-align: center;
    background: rgb(60, 60, 190);
    color: white;
    padding: 5px;
    margin: 0;
}